@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --brand-color-gray: #262626;
    --color-gray-90: #2A2A2A;
    --color-gray-80: #404040;
    --color-gray-70: #595959;
    --color-gray-60: #737373;
    --color-gray-50: #8C8C8C;
    --color-gray-40: #A6A6A6;
    --color-gray-30: #BFBFBF;
    --color-gray-20: #f5f5f5;
    --color-gray-10: #ffffff;
}

h1 {
    color: var(--brand-color-gray);
    font-family: "Geist", sans-serif;
}

h2 {
    color: var(--color-gray-70);
    font-family: "Geist", sans-serif;
}

p {
    color: var(--color-gray-50);
    font-family: "Inter", sans-serif;
}

hr {
    border: 1px solid var(--color-gray-20);
}

::selection {
    background-color: #262626;
    color: #fff;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Geist", sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-top: 70px;
    flex-wrap: wrap;
    overflow: hidden;
}

#apresentacao {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
}

#apresentacao header {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;
}

.apresentacao hr {
    margin: 40px 0;
}

.foto_usuario,
.foto_usuario img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.foto_usuario {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.tag_agenda {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 0px;
    border: 1px solid var(--color-gray-70);
    border-radius: 50px;
    width: 150px;
}

.tag_agenda .status_agenda {
    font-size: 12px;
    text-transform: uppercase;
    color: var(--color-gray-80);
}

.tag_agenda .icone {
    width: 13px;
    height: 13px;
    background-color: #57DD7B;
    border-radius: 50px;
    margin-right: 11px;
    animation: usuarioOnline 1s normal infinite;
}

.apresentacao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: start;
}

.apresentacao h1 {
    margin: 20px 0 0 0;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -2px;
    font-weight: 600;
    color: var(--brand-color-gray);
}

.apresentacao h2 {
    margin: 10px 0 0 0;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -1px;
    font-weight: 500;
    text-align: left;
}



.apresentacao p {
    margin: 0;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.10px;
    font-weight: 500;
    text-align: left;
}

#artigos_recentes {
    margin-top: 100px;
    width: 100%;
}

article {
    border: 1px solid var(--color-gray-20);
    padding: 50px;
    border-radius: 20px;
    cursor: pointer;
}

#artigos_recentes header {
    margin-bottom: 30px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

#artigos_recentes header .tag {
    padding: 2px 10px;
    background-color: rgba(87, 221, 123, 0.5);
    border-radius: 5px;
    color: #136E2F;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 500;
    animation: novoArtigo 1s normal infinite;
}

#artigos_recentes header .titulo_artigo h2 {
    margin: 10px 0 0 0;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0px;
    font-weight: 500;
}

#artigos_recentes .dados_artigo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#artigos_recentes .dados_artigo .dado {
    display: flex;
    align-items: center;
    justify-content: center;
}

#artigos_recentes .dados_artigo .dado .icon {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#artigos_recentes .tags {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    margin: 40px 0 0 0;
}

#artigos_recentes .tags .tag {
    margin: 5px 5px 5px 0;
    border-radius: 50px;
    border: 1px solid var(--color-gray-20);
    padding: 2px 15px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 400;
    color: var(--color-gray-50);
}

.button_todosArtigos {
    width: 100%;
    height: 80px;
    border: 1px solid var(--color-gray-20);
    border-radius: 20px;
    background-color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0px;
    font-weight: 400;
    color: var(--color-gray-60);
    margin-top: 30px;
    cursor: pointer;
}


footer {
    width: 100%;
    height: 100px;
    margin-top: 150px;
    position: relative;
    bottom: 0;
    text-align: center;
    color: var(--color-gray-80);
    font-size: 14px;
}

footer hr {
    margin-bottom: 43px;
}

footer p {
    padding: 20px;
}

article {
    margin: 20px 0;
}


@keyframes novoArtigo {
    0% {
        opacity: 1;
        transform: scale(0.8);
    }

    50% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.3;
    }
}

@keyframes usuarioOnline {
    0% {
        opacity: 1;
        transform: scale(0.5);
    }

    50% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.3;
    }
}

@media (max-width: 768px) {
    main {
        width: 100%;
        margin-top: 0;
        padding: 16px;
    }

    article {
        padding: 30px 14px;
    }


    .dado .icon img {
        width: 18px;
    }

    .dado p {
        font-size: 14px;
    }

    #artigos_recentes .dados_artigo {
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-direction: column;
    }

    #artigos_recentes header .titulo_artigo h2 {
        font-size: 23px;
    }

    .dado {
        margin-top: 10px;
    }

    .button_todosArtigos {
        font-size: 15px;
    }

    #artigos_recentes .tags .tag{
        font-size: 10px;
        padding: 2px 10px;
    }

}